*{
    margin: 20px;
}
.nav-bar{
display:flex;
justify-content: space-between;
}
.btn{
padding:10px 20px;
font-size:medium;
border-radius: 10px;
margin-top: 10px;
}
.btn:hover{
    background-color: chocolate
}
.header-section{
    display: flex;
    background-color:aquamarine ;
    border-radius: 15px;
    gap: 20px;
}
.header-text{
    width: 50%;
    margin: 100px 70px;
}
.header-idea{
    font-size:50px;
}